@use "src/index" as *


:root
  --main-bg-color: 2vh

header
  margin-right: 15%
  margin-left: 15%
  z-index: 999



li.nav-item a
  padding-left: var(--size-navbutton-padding, 1.5vh)
  padding-right: var(--size-navbutton-padding, 1.5vh)
  padding-top: var(--size-navbutton-padding, 2vh)
  padding-bottom: var(--size-navbutton-padding, 2vh)
  margin-left: var(--size-navbutton-margin-left, 1vh)
  margin-right: var(--size-navbutton-margin-right, 1vh)
  flex-grow: 1
  justify-content: center
  align-content: center


ul.nav-list
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden
  background-color: var(--primary-bg-color)
  display: flex



    
li.nav-item
  display: flex
  float: left
  flex: 1
  justify-content: center
  align-content: center

ul.nav-list:first-child
  flex: 0.6


  

ul.nav-list:last-child
  flex: 0.5


li a:hover 
  background-color: var(--secoundary-bg-color)
  color: var(--font-color-secoundary)

li a
  color:  var(--font-color-main)


.small-logo
  width: 3em
  height: 3em
  padding-left: 2vh
  padding-right: 0px

  
#logo-container
  display: flex
  align-items: center
  justify-content: center

#logo-text
  display: flex

#logo-text :first-child
  flex:15

#logo-text :last-child
  flex:1



@media (min-width: 700px)
  #logo-container
    display: flex
    align-content: center
    justify-content: center

    

  #orange
    color: $primary-light-color

  #green
    color: $secoundary-light-color

  .list-loader
    background-image: url(https://res.cloudinary.com/dgegmm2pt/image/upload/v1716980421/Vector_zplwjr.svg)
    height: calc(var(--line-height) * 1rem)
    background-repeat: no-repeat
    background-size: contain
    background-position: center center
    animation: loading 3s linear infinite
    @keyframes loading
      0%
        transform: rotate(0)
      100%
        transform: rotate(360deg)

.profile-picture-nav
  width: 70%

.language-picture
  width: 5vw
  height: 5vw
  display: grid
  padding-bottom: 0rem
  padding-top: 0rem
  padding-left: 1rem
  padding-right: 1rem
  // background-color: var(--button-color)
  
@media (max-width: 700px)
  header
    width:  100%
    background-color: white
    position: fixed
    bottom: 0
    font-size: small

   
  header
    margin-left: 0
    margin-right: 0

  footer
    display: block
    margin-bottom: 75px

  footer p
    display: block
    height: 20px
    margin-top: 0px
    margin-bottom: 0px
  





  li a
    --size-navbutton-padding: 1.25vh
    --size-navbutton-margin-left: 0.1vh
    --size-navbutton-margin-right: 0.1vh

  #orange
    display: none

  #green
    display: none

  #logo-container
    width: 0.2vh
    margin-right: 0.6vh

  .profile-picture-nav
    width: 4vh

  .language-picture
    width: 4vh
    height: 6vh

  .logout-btn
    display: none
  
  .login-btn
    display: none

@media (max-width: 365px)
  .nav-item:first-child
    display: none
  
  
  li a
    --size-navbutton-padding: 0
    --size-navbutton-margin-left: 0.1vh
    --size-navbutton-margin-right: 0.1vh

  
  