@use "src/index" as *

    
main
    margin-right: 15%
    margin-left: 15%
    padding-bottom: 2.5%
    padding-top: 2.5%
    padding-left: 4%
    padding-right: 4%
    background-color: var(--primary-bg-color)
    min-height: 450px


footer
    margin-top: 0px


#adminSidebar
    position: absolute
    top: 100px
    width: 100px
    display: grid
    grid-template-columns: 1fr
    

@media (max-width: 700px)
    #adminSidebar
        display: none
    main
        margin-right: 0
        margin-left: 0
        padding-right: 2%
        padding-left: 2%
        width: 96%
        min-height: 500px


  

  




