.summaryTab
    display: grid
    justify-content: center

.location-frame
    justify-self: center

@media (max-width: 1000px)
    .location-frame
        height: 400px
        width: 400px



@media (max-width: 400px)
    .location-frame
        height: 300px
        width: 300px

.mapDirectionsBox

    padding-top: 2vh
    padding-bottom: 2vh
    margin-bottom: 2vh

.mapDirectionsImg
    width: 75vh

