#menuOptionForm
    display: grid
    width: 600px
    align-items: center
    margin: auto
    
#menuOptionForm-allergen
    grid-column-start: 1
    grid-column-end: 5


#menuOptionForm > button
    grid-column-start: 1
    grid-column-end: 5

#menu-icon-display
    object-fit: cover
    width: 100%
    height: 100%
    max-width: 128px
    max-height: 128px
